//
// Elementor Icon Font
//

@font-face {
	font-family: 'eicon';
	src: url('../font/eicons.eot?1.0');
	src: url('../font/eicons.eot?1.0#iefix') format('embedded-opentype'),
	url('../font/eicons.woff2?1.0') format('woff2'),
	url('../font/eicons.woff?1.0') format('woff'),
	url('../font/eicons.ttf?1.0') format('truetype'),
	url('../font/eicons.svg?1.0#eicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="eicon-"],
[class*=" eicon-"] {
	display: inline-block;
	font-family: eicon;
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@import "_icons";

